body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #3e5151; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #decba4,
    #3e5151
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #decba4,
    #3e5151
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.menu-logo {
  padding-top: 6px;
  margin-left: 1%;
  width: 70px;
  float: left;
}

#menu-nav {
  background-color: black;
}

.img-init {
  position: absolute;
  left: 0;
  top:0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

#btn {
  position: absolute;
  top: 50%;
  left: 45%;
  background-color: transparent;
}

#btn:hover {
  border: 1px solid black;
  border-radius: 10px;
}

.container {
  /*border: 1px solid black;*/
  margin-top: 3%;
}

.carousel {
  width: 65%;
  /*border: 2px solid black;*/
  height: 60%;
  position: absolute;
  left: 2%;
  border-radius: 2%;
  z-index: -1; /*z-index	Sets the stack order of an element**/
}

.promo {
  width: 30%;
  height: 66%;
  /*border: 2px solid black;*/
  position: absolute;
  right: 2%;
  color: whitesmoke;
  border-radius: 5%;
}

.text-promo {
  text-align: justify;
  text-justify: inter-word;
}

.dropdown {
  margin-left: -10px;
  /*border: 2px solid white;*/
}

.dd {
  /*border: 1px solid black;*/
  height: 450px;
  text-align: center;
  position: absolute;
  background-color: black;
  border-radius: 0 0 20px 20px;
  z-index: 2;
}

#add {
  text-align: left;
}

.form {
  /*border: 2px solid black;*/
  margin-left: 15%;
  margin-top: 5%;
  width: 70%;
}

#back {
  float: left;
  margin-left: 30px;
  margin-top: 20px;
}

#contenedor {
  width: 350px;
  height: 500px;
  /*border: 2px solid black;*/
  border-radius: 5%;
  margin-left: 68%;
  margin-top: 5%;
  background-color: whitesmoke;
  padding: 0px 30px 0px 30px;
  opacity: 60%;
}

.logo-init {
  margin-top: 30px;
  margin-bottom: 20px;
  width: 50%;
}

.lol {
  /*border: 1px solid black;*/
  border-radius: 0 0 4% 4%;
  width: 80%;
  height: 75%;
  position: absolute;
  left: 10%;
  margin-top: 3%;
}

.personal {
  width: 65%;
  height: 70%;
  /*border: 1px solid black;*/
  position: absolute;
  left: 0;
  top: 22%;
}

.measures {
  width: 20%;
  height: 70%;
  /*border: 1px solid black;*/
  position: absolute;
  right: 0;
}

#ver {
  width: 65%;
  /*border: 1px solid black;*/
  height: 400px;
  position: absolute;
  top: 15%;
  left: 3%;
}

#btn_usu {
  position: absolute;
  top: 450px;
}

.con-recipes {
  border-radius: 2%;
  /*border: 1px solid black;*/
  height: 63vh;
  width: auto;
  box-shadow: 0 0 10px 5px black;
}

#ee {
  background: #232526; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #414345, #232526);
  background: linear-gradient(to right, #414345, #232526);
}

.links {
  border-radius: 2% 2% 2% 2%;
  padding-top: 2%;
  border: 1px solid black;
  width: 33%;
  height: 63vh;
  background: #232526; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #414345,
    #232526
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #414345,
    #232526
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  /*background-color: black;*/
}

.ee {
  padding-top: 2%;
  height: 40px;
  font-size: large;
  color: white;
}

.ee:hover {
  background-color: #e0e0e0;
  color: black;
}

.text {
  position: relative;
  top: -397px;
  left: -100px;
  width: 68%;
  /*border: 2px solid black; */
  margin-left: 400px;
  /*background-color: red;*/
  height: 63vh;
  border-radius: 2%;
}

.cuadro1 {
  position: absolute;
  top: 4vh;
  left: 4vh;
  width: 24vh;
  height: 16vh;
  box-shadow: 0 0 10px 5px black;
}

.cuadro2 {
  position: absolute;
  top: 23vh;
  left: 4vh;
  width: 24vh;
  height: 16vh;
  box-shadow: 0 0 10px 5px black;
}

.cuadro3 {
  position: absolute;
  top: 42.5vh;
  left: 4vh;
  width: 24vh;
  height: 16vh;
  box-shadow: 0 0 10px 5px black;
}

.imgtext {
  /*background-color: tomato;  */
  margin-left: 1vh;
  width: 30vh;
  height: 62.8vh;
}

.desc3 {
  position: absolute;
  top: 42.5vh;
  left: 35vh;
  width: 60vh;
  height: 16vh;
  color: white;
  box-shadow: 0 0 10px 5px black;
  background: #232526; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #414345,
    #232526
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #414345,
    #232526
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.desc2 {
  position: absolute;
  top: 23vh;
  left: 35vh;
  width: 60vh;
  height: 16vh;
  color: white;
  box-shadow: 0 0 10px 5px black;
  background: #232526; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #414345,
    #232526
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #414345,
    #232526
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.desc1 {
  position: absolute;
  top: 4vh;
  left: 35vh;
  width: 60vh;
  height: 16vh;
  color: white;
  box-shadow: 0 0 10px 5px black;
  background: #232526; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #414345,
    #232526
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #414345,
    #232526
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.jojoji {
  width: fit-content;
  border: 1px solid black;
}

.aca {
  max-width: 100vw;
  width: auto;
  max-height: 100vh;
  height: 10vh;
  /*background-color: black;*/
}

.btn-floating {
  margin-left: 0.5vw;
  margin-right: 0.5vw;
}

#btn-arm {
  background-image: url("./media/images/strong.svg");
}

#btn-tricep {
  background-image: url("./media/images/triceps.jpg");
}

.exercises {
  margin-top: 2%;
  /*background: black;*/
  max-width: 100vw;
  width: auto;
  max-height: 100vh;
  height: 65vh;
  border-radius: 2%;
  box-shadow: 0 0 10px 5px black;
}

#site-1 {
  margin: 1%;
  width: 14vw;
  height: 28vh;  
  box-shadow: 0 0 10px 1px black;
}

#site-1:hover{
  box-shadow: 0 0 10px 2px red;
}

.tooltipp {
  position: relative;
  margin-left: 1%;
  margin-right: 1%;
  display: inline-block;
  /*border-bottom: 1px dotted black;*/
}

.tooltipp .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 5;
  bottom: 105%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltipp .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltipp:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}